*{
    margin:0px;
    padding:0px;
}

.container-1{
    display:flex;
    margin-left:28%;
    margin-top:10%;
    height:150px;
    width:800px;
}
.container-2{
    display:flex;
    margin-left:28%;
    margin-top:20px;
    height:150px;
    width:800px;
}

div{
    /* border:2px solid green; */
}

.content-1{
    width: 50%;
    border-radius: 5%;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 100%);
    text-align: center;
}

.content-2{
    width: 50%;
    border-radius: 5%;
    margin-left:20px;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 100%);
    text-align: center;

}

.title{
    margin-top:3%;
    color:white;
    text-transform: uppercase;
    font-weight: 500;
    font-size:20px;
}

mat-icon{
    color:white;
}