<div class = "header">
    <div class="navbar">
      <mat-toolbar>
          <div class="header-title">
            <mat-icon>thermostat</mat-icon>
           <a routerLink="/medicine"> <span class="title">E-Pharmacy</span></a>
          </div>
          <div class="search">

          </div>
          <div class="actions">
            <span class="title">Hi,admin</span>
            <span class="title"><a [routerLink]="'/login/updateprofile'">Profile</a></span>
            <span class="title"><a [routerLink]="'/login'">Sign Out</a></span>
          </div>
      </mat-toolbar>
    </div>
</div>

    