<app-header></app-header>
<app-footer></app-footer>
<div class="container">
    <h3>BUY Medicines</h3><br>
    <form [formGroup] = "buyProduct" (submit)="onSubmit()" autocomplete = "off" id = "form2">
    
      <!-- <div class="form-group">
          <mat-form-field appearance="outline">
              <mat-label>Medicine Id</mat-label>
              <input matInput color = "warn" type = "number"  id = "name" formControlName ="medicineId" class="form-control" required>
          </mat-form-field>
        </div> -->
      <!-- <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Medicine Name</mat-label>
            <input matInput color = "warn" name = "name"  id = "name" formControlName ="medicineName" class="form-control" required>
        </mat-form-field>
      </div> -->
      <!-- <div class="form-group">
        <mat-form-field apearance="outline">
            <mat-label>Disease Id</mat-label>
            <input matInput color = "warn" type = "number" name = "name"  id = "name" formControlName ="diseaseId" class="form-control" required>
        </mat-form-field>
      </div> -->
      <div class="form-group">
        <mat-form-field appearance="outline">
            <mat-label>Quantity</mat-label>
            <input matInput type = "number" color = "warn" name = "name"  id = "name" formControlName ="quantity" class="form-control" required>
        </mat-form-field>
      </div>
      <button mat-raised-button class="btn btn-primary submit">submit</button>
    </form>
</div>
<router-outlet></router-outlet>