@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');
table{
    width:50%;
    margin-left:25%;
    /* margin-top:5%; */
    border:1px solid rgb(2,0,36);
}

th{
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 100%);
    color: white;
    text-align :center;
}
td{
    text-align:center;
    text-transform: capitalize;
    padding:8px;
    font-size:20px;
    font-weight:400;
}
button{
    text-transform: uppercase;
    color: white;
    /* margin-left:35%; */
    height: 35px;
}

#home{
    margin-left: 46%;
    margin-top:5%;

}
h3{
    text-align :center;
    text-transform: uppercase;
    font-size:30px;
    font-family: 'RocknRoll One', sans-serif;
    background: rgb(2,0,36);
    background: linear-gradient(90deg, rgba(2,0,36,1) 0%, rgba(9,75,121,1) 100%);
    color:white;
    padding:3px;
    width:50%;
    margin-left:25%;
    clip-path: polygon(4% 0, 100% 0, 95% 100%, 0% 100%);
    margin-top: 5%;;
}