<app-header></app-header>

<div>
    <h3>BUY CORONA MEDICINES</h3><br>
    <table class="table table-dark">
        <thead>
          <tr>
            <th>Medicine Id </th>
            <th>Medicine Name</th>
            <th>Disease Id</th>
            <th>Quantity</th>
            <th>BUY</th>
          </tr>
        </thead>
        <tbody>
            <tr *ngFor="let medicine of service.medicines" id = "datas">
                <td>{{medicine.medicineId}}</td>
                <td>{{medicine.medicineName}}</td>
                <td>{{medicine.diseaseId}}</td>
                <td>{{medicine.quantity}}</td>
                <td><a [routerLink]="['/medicine/corona/buyproduct/',medicine.medicineId]"><button mat-raised-button color="warn">BUY</button></a></td>
            </tr>
        </tbody>
      </table>
      <a [routerLink]="'/medicine'"><button mat-raised-button color="primary" id = "home">HOME</button></a>
</div>

<app-footer></app-footer>
<router-outlet></router-outlet>